.box {
    background-color: lightblue;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

#container_name{
    position: absolute;
    right: 10px;
    font-size:small;
    color: rgb(122, 122, 122);
}

.container1 {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 400px 200px 200px;   /* creates 3 columns with specified widths */
    grid-template-rows: 30px 30px;          /* creates 2 rows with 50px heights */
    gap: 10px;
}

.container2 {
    margin-top: 5px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 200px 1fr; /* creates 2 columns that share available space equally */
    grid-template-rows: 30px;          /* creates 1 row with 50px height */
    gap: 10px;
}

.container3 .box2{
    height: 30px;
    width: 30px;
    background-color: lightcoral;
    padding: 10px;
    text-align: center;
}
.container3 {
    margin-top: 5px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 60px 60px 60px; /* creates 3 columns with equal widths */
    grid-template-rows: 80px 80px 80px;          /* creates 3 rows with 50px heights */
    gap: 10px;
    justify-items: center; /* centers items horizontally */
    align-items: center;   /* centers items vertically */
    align-content: center; /* centers the entire grid within the container */
    justify-content: center; /* centers the entire grid within the container */
}

/* implicit grid */
.container4 {
    margin-top: 5px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 50px); /* creates 3 columns with equal widths */
    grid-auto-rows: 50px;          /* this helps create auto complete new grids */
    gap: 10px;
    justify-content: center; /* centers the entire grid within the container */
}

/* bento box */
.container5{
    margin-top: 5px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 100px;
    gap: 10px;
    grid-template-areas: 
     "box-1 box-2 box-2 box-3"
     "box-1 box-4 box-5 box-5"
    ;
    justify-content: center; /* centers the entire grid within the container */
}

/* grid stacking */
.container6{
    margin-top: 5px;
    border: 1px solid black;
    display: grid;
    justify-content: center; /* centers the entire grid within the container */
    place-items: center; /* centers items both horizontally and vertically */   
}
.container6 .child1{
    background-color: rgb(232, 232, 232);
    height: max-content;
    width: 100%;
    opacity: 0.7; /* Adjust the opacity to make it semi-transparent */
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 10; /* Ensure this element is behind the other element */
}
.container6 .child2{
    background: linear-gradient(to right, #4ca2cd, #67b26f);
    padding: 50px;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

/* grid stacking easier */
.container7{
    margin-top: 5px;
    border: 1px solid black;
    display: grid;
    justify-content: center; /* centers the entire grid within the container */
    grid-template-areas: "stack";
    place-items: end; /* centers items both horizontally and vertically */
}
.container7 .child3{
    background-color: transparent;
    height: max-content;
    width: 100%;
    opacity: 0.7; /* Adjust the opacity to make it semi-transparent */
    grid-area: stack;
    padding-top: 5px;
    padding-bottom: 5px;
}
.container7 .child4{
    background: linear-gradient(to right, #4ca2cd, #67b26f);
    grid-area: stack;
    width: fit-content;
    padding: 50px;
}

/* grid wrapping */
.container8 .box2{
    background-color: lightcoral;
    text-align: center;
    height: 60px;
}
.container8{
    border: 1px solid black;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 10px;
    justify-content: center;
}

.container9 .box2{
    background-color: lightcoral;
    text-align: center;
    height: 60px;
}
.container9{
    border: 1px solid black;
    margin-top:5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    justify-content: center;
}